/************************************************ for all page */
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
}

header {
  background: #333;
  color: white;
}

header nav {
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-right: auto;
  height: 100px;
  padding: 20px;
}

header a {
  margin: 0 20px;
  padding: 10px 30px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

header a:hover,
header a.active {
  background: white;
  color: #333;
  border-radius: 5px;
}

footer {
  background: #333;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer .container {
  height: 2rem;
  justify-content: center;
  align-items: center;
}

img:not(.logo) {
  width: 100%;
  display: block;
}

main {
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 100px;
  min-height: calc(100vh - 100px);
  padding-bottom: 2rem;
}

/*****************************home(index.html)*/
#home .card {
  width: 30%;
}

#home .card img {
  border-radius: 10px;
}

/*****************************Games */
#games main>div {
  width: 49%;
}

#games .map {
  position: relative;
}

#games .map a {
  position: absolute;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

#games .map a:nth-of-type(1) {
  left: 10%;
  top: 20%;
}

#games .map a:nth-of-type(2) {
  left: 20%;
  top: 30%;
}

#games .map a:nth-of-type(3) {
  left: 30%;
  top: 40%;
}

#games .map a:nth-of-type(4) {
  left: 40%;
  top: 50%;
}

#games .map a:nth-of-type(5) {
  left: 50%;
  top: 60%;
}

#games .map a::before {
  content: "★";
  font-size: 2rem;
  line-height: 1rem;
  vertical-align: middle;
  /* or text-bottom */
}

#games .box div {
  position: relative;
}

#games .box p {
  position: absolute;
  background: #333c;
  color: white;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 20px;
}

/********************devices*/
#devices main {
  position: relative;
}

#devices .icon {
  width: 100%;
  display: flex;
  justify-content: center;
}

#devices .icon img {
  width: 50px;
  padding: 5px;
}

#devices .card p {
  display: none;
}

#devices main {
  flex-wrap: wrap;
}

#devices .card {
  width: 30%;
  margin-bottom: 20px;
}

#devices img {
  cursor: pointer;
  border-radius: 5px;
}

#devices .lightbox {
  position: fixed;
  background: #333c;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#devices .lightbox img {
  max-width: 70vw;
  max-height: 70vh;
}

/*************************login*/
#login form {
  margin: 0 auto;
  box-shadow: 0 0 3px #333c;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 20px;
  font-weight: bold;
  width: 50vw;
  height: 35vh;
}

#login label {
  width: 45%;
}

#login input {
  width: 100%;
  height: 2rem;
}

#login input[type=submit] {
  width: 45%;
  margin: 0 auto;
  cursor: pointer;
}

#login form div {
  background: yellow;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
}