<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>電競網站</title>
  <link rel="stylesheet" href="plugin/bootstrap.min.css">
  <link rel="stylesheet" href="plugin/style.css">
  <script src="plugin/jquery.min.js"></script>
  <script src="plugin/bootstrap.min.js"></script>
</head>

<body>
  <!--網站標題-->
  <header class="row-fluid">
    <div class="span4">第 50 屆全國競賽電競遊 官方網站</div>
    <div class="span8"></div>
  </header>

  <!-- 選單區 -->
  <nav class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="index.php">回前台首頁</a></li>
          <li><a href="api.php?do=logout">管理登出</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- 留言板 -->
  <div id="msg"></div>
  <section class="container">
    <h2>玩家留言板</h2>
    <!--
    <a href="#msgadd" class="btn btn-info" data-toggle="modal" style="float:right">我要留言</a>
    <div style="clear: both;"></div>
    -->

    <!-- each ok -->
    <div class="thumbnail row-fluid">
      <div class="span2">
        <img src="img/user.jpg" class="img-circle" width="100" height="100">
        <h4>User Name</h4>
        <h5>#<span class="sn">1</span></h5>
      </div>
      <div class="span10">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus eligendi autem accusantium nam illo
          commodi voluptates vero consectetur eum beatae?</p>
        <div class="bottom">
          <span class="badge badge-info">
            &phone; <span class="tel">0988-100200</span>
          </span>
          <span class="badge badge-info">
            <i class="icon-envelope icon-white"></i> <span class="mail">sss@gmail.com</span>
          </span>
          <span class="badge badge-info">
            <i class="icon-time icon-white"></i> 2020/02/02 12:00:00
          </span>
          <!-- for admin use -->
          <span class="control">
            <a href="#msgmdy" class="btn btn-warning" data-toggle="modal">編輯</a>
            <a href="api.php?do=msgdel&id=0" class="btn btn-danger">刪除</a>
          </span>
        </div>
      </div>
    </div>

    <!-- each del -->
    <div class="thumbnail row-fluid del">
      <div class="span2">#2</div>
      <div class="span10">此樓留言已被刪除</div>
    </div>
  </section>
  <footer>
    <!-- for admin to msgmdy-->
    <form id="msgmdy" class="modal hide fade form-horizontal" action="api.php?do=msgmdy" method="post">
      <div class="modal-header">
        <h3>編輯留言</h3>
        <input type="hidden" name="id">
      </div>
      <div class="modal-body">
        <div class="control-group">
          <label class="control-label">玩家姓名</label>
          <input type="text" name="user" required value="Loki">
        </div>
        <div class="control-group">
          <label class="control-label">留言內容</label>
          <textarea name="info" required>Old Message....</textarea>
        </div>
        <div class="control-group">
          <label class="control-label">Email</label>
          <input type="email" name="mail" required value="summer10920@gmail.com">
        </div>
        <div class="control-group">
          <label class="control-label">連絡電話</label>
          <input type="tel" name="tel" pattern="[0-9\-]{9,12}" value="0204888988">
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">取消</button>
        <input class="btn btn-primary" type="submit" value="送出">
      </div>
    </form>
  </footer>
</body>

</html>