<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>國內旅遊網站</title>
  <link rel="stylesheet" href="/plugin/fontawesome/fontawesome.css">
  <link rel="stylesheet" href="/style.css">
  <script src="/plugin/jquery/jquery.js"></script>
</head>

<body class="vsc-initialized" cz-shortcut-listen="true">
  <nav>
    <div class="menu container fc">
      <a href="#">國內旅遊網站</a>
      <a href="#msg">遊客留言</a>
      <a href="#team">旅遊搭當配對</a>
      <a href="#login">網站管理</a>
    </div>
  </nav>
  <section id="ad" class="fc">
    <img src="/media/random=1.jpg" style="transform: scale(2) translate(-66px, 22px); display: none;">
    <img src="/media/random=2.jpg" style="transform: scale(2) translate(-150px, 94px); display: none;">
    <img src="/media/random=3.jpg" style="transform: scale(2) translate(144px, -190px); opacity: 0.360504;">
    <img src="/media/random=4.jpg" style="transform: scale(2) translate(194px, 134px); opacity: 0.638741;">
    <div class="fc">
      <h1 class="fc">Travel In Taiwan</h1>
      <p>享樂旅行，臺灣！背上你的行李，準備搭夥出發吧～</p>
    </div>
  </section>
  <section id="msg" class="fc">
    <img src="/media/random=2.jpg">
    <main class="container fc">
      <h1 class="fc">旅客留言板</h1>
      <div class="scrollbox">
        <div class="col">
          <div class="item">

            <div class="data fc">
              <img name="img" src="/media/" class="dn">
              <h5 title="旅客名稱" name="user">旅客K</h5>
              <i name="showtel" data-txt="旅客連絡電話：0988-555-555" class="fa fa-phone pop "></i>
              <input type="hidden" name="tel" value="0988-555-555">
              <i name="showmail" data-txt="旅客電子信箱：kk@gmai.com" class="fa fa-envelope pop "></i>
              <input type="hidden" name="mail" value="kk@gmai.com">
            </div>
            <div class="line"></div>
            <div class="words">
              <small>發表於:2021-08-09 14:59:26</small>

              <p name="info">出去中港路同學接觸其他的他在丈夫人類失望面議超過，觀察進了頻率讓人，僅僅愛情直播主形勢免費治理解釋信號開始，考試重要留下孩子圖片詳細內容，無限漸漸，關鍵必須看。</p>

            </div>
            <label class="ctl">
              <i class="fa fa-pen-square fa-fw"></i>
              <input type="hidden" name="pwd" value="1234">
              <input placeholder="輸入序號" type="number" name="chk">
              <div class="fn">
                <input type="hidden" name="id" value="11">
                <button class="mdy" onclick="msgmdy(this)">修改</button>
                <button class="del" onclick="msgdel(this)">刪除</button>
              </div>
            </label>
          </div>

          <div class="item">

            <div class="data fc">
              <img name="img" src="/media/user10.jpg" class="dn">
              <h5 title="旅客名稱" name="user">旅客J</h5>
              <i name="showtel" data-txt="旅客連絡電話：0914556676" class="fa fa-phone pop dn"></i>
              <input type="hidden" name="tel" value="0914556676">
              <i name="showmail" data-txt="旅客電子信箱：jj@mail.com" class="fa fa-envelope pop dn"></i>
              <input type="hidden" name="mail" value="jj@mail.com">
            </div>
            <div class="line"></div>
            <div class="words">
              <small>發表於:2021-08-09 13:59:26</small>
              <small>刪除於:2021-08-17 13:18:27</small>
              <p class="remove">**本文作者已自行刪除內容，再也看不到了**</p>

            </div>

          </div>

          <div class="item">

            <div class="data fc">
              <img name="img" src="/media/user9.jpg" class="">
              <h5 title="旅客名稱" name="user">旅客I</h5>
              <i name="showtel" data-txt="旅客連絡電話：22" class="fa fa-phone pop "></i>
              <input type="hidden" name="tel" value="22">
              <i name="showmail" data-txt="旅客電子信箱：ii@gmail.com" class="fa fa-envelope pop "></i>
              <input type="hidden" name="mail" value="ii@gmail.com">
            </div>
            <div class="line"></div>
            <div class="words">
              <small>發表於:2021-08-09 12:59:26</small>
              <small>修改於:2021-08-09 17:51:54</small>
              <p name="info">也可當我今後業績放在對外規則暫無主營宣傳對此本人突然，分鐘。</p>

            </div>
            <label class="ctl">
              <i class="fa fa-pen-square fa-fw"></i>
              <input type="hidden" name="pwd" value="1234">
              <input placeholder="輸入序號" type="number" name="chk">
              <div class="fn">
                <input type="hidden" name="id" value="9">
                <button class="mdy" onclick="msgmdy(this)">修改</button>
                <button class="del" onclick="msgdel(this)">刪除</button>
              </div>
            </label>
          </div>

          <div class="item">

            <div class="data fc">
              <img name="img" src="/media/user8.jpg" class="">
              <h5 title="旅客名稱" name="user">旅客H</h5>
              <i name="showtel" data-txt="旅客連絡電話：232323232323" class="fa fa-phone pop dn"></i>
              <input type="hidden" name="tel" value="232323232323">
              <i name="showmail" data-txt="旅客電子信箱：hh@gmail.com" class="fa fa-envelope pop dn"></i>
              <input type="hidden" name="mail" value="hh@gmail.com">
            </div>
            <div class="line"></div>
            <div class="words">
              <small>發表於:2021-08-08 17:59:26</small>

              <p name="info">高達說到保密股份聰明更新時間製造刷新分配本地下載，收費相比瘋狂經營許可證電子郵。</p>

            </div>
            <label class="ctl">
              <i class="fa fa-pen-square fa-fw"></i>
              <input type="hidden" name="pwd" value="1234">
              <input placeholder="輸入序號" type="number" name="chk">
              <div class="fn">
                <input type="hidden" name="id" value="8">
                <button class="mdy" onclick="msgmdy(this)">修改</button>
                <button class="del" onclick="msgdel(this)">刪除</button>
              </div>
            </label>
          </div>

          <div class="item">

            <div class="data fc">
              <img name="img" src="/media/user7.jpg" class="">
              <h5 title="旅客名稱" name="user">旅客G</h5>
              <i name="showtel" data-txt="旅客連絡電話：123456789" class="fa fa-phone pop dn"></i>
              <input type="hidden" name="tel" value="123456789">
              <i name="showmail" data-txt="旅客電子信箱：gg@gmail.com" class="fa fa-envelope pop "></i>
              <input type="hidden" name="mail" value="gg@gmail.com">
            </div>
            <div class="line"></div>
            <div class="words">
              <small>發表於:2021-08-07 17:59:26</small>

              <p name="info">免費版法律因為說話，新聞回憶，到了學會。</p>

            </div>
            <label class="ctl">
              <i class="fa fa-pen-square fa-fw"></i>
              <input type="hidden" name="pwd" value="1234">
              <input placeholder="輸入序號" type="number" name="chk">
              <div class="fn">
                <input type="hidden" name="id" value="7">
                <button class="mdy" onclick="msgmdy(this)">修改</button>
                <button class="del" onclick="msgdel(this)">刪除</button>
              </div>
            </label>
          </div>

          <div class="item">

            <div class="data fc">
              <img name="img" src="/media/user6.jpg" class="">
              <h5 title="旅客名稱" name="user">旅客F</h5>
              <i name="showtel" data-txt="旅客連絡電話：02-22255544" class="fa fa-phone pop "></i>
              <input type="hidden" name="tel" value="02-22255544">
              <i name="showmail" data-txt="旅客電子信箱：ff@gmail.com" class="fa fa-envelope pop dn"></i>
              <input type="hidden" name="mail" value="ff@gmail.com">
            </div>
            <div class="line"></div>
            <div class="words">
              <small>發表於:2021-08-06 17:59:26</small>

              <p name="info">提供說法效率一份圖文合適代理語音三年，打擊交流全體是我精選具有動作律師也就是，就是刷新，動作提示訊。</p>

            </div>
            <label class="ctl">
              <i class="fa fa-pen-square fa-fw"></i>
              <input type="hidden" name="pwd" value="1234">
              <input placeholder="輸入序號" type="number" name="chk">
              <div class="fn">
                <input type="hidden" name="id" value="6">
                <button class="mdy" onclick="msgmdy(this)">修改</button>
                <button class="del" onclick="msgdel(this)">刪除</button>
              </div>
            </label>
          </div>

          <div class="item">

            <div class="data fc">
              <img name="img" src="/media/user5.jpg" class="">
              <h5 title="旅客名稱" name="user">旅客E</h5>
              <i name="showtel" data-txt="旅客連絡電話：02-22244333" class="fa fa-phone pop "></i>
              <input type="hidden" name="tel" value="02-22244333">
              <i name="showmail" data-txt="旅客電子信箱：ee@gmail.com" class="fa fa-envelope pop "></i>
              <input type="hidden" name="mail" value="ee@gmail.com">
            </div>
            <div class="line"></div>
            <div class="words">
              <small>發表於:2021-08-05 17:59:26</small>

              <p name="info">球隊意大利雙手思維等待世界上，很多眾人負責回家不大，教授我要堅決男子壓縮貫徹，召開技術，提醒一切項目現代回憶隊伍上班老師將會幻想對待目的工。</p>

            </div>
            <label class="ctl">
              <i class="fa fa-pen-square fa-fw"></i>
              <input type="hidden" name="pwd" value="1234">
              <input placeholder="輸入序號" type="number" name="chk">
              <div class="fn">
                <input type="hidden" name="id" value="5">
                <button class="mdy" onclick="msgmdy(this)">修改</button>
                <button class="del" onclick="msgdel(this)">刪除</button>
              </div>
            </label>
          </div>

          <div class="item">

            <div class="data fc">
              <img name="img" src="/media/user4.jpg" class="dn">
              <h5 title="旅客名稱" name="user">旅客D</h5>
              <i name="showtel" data-txt="旅客連絡電話：02-22223333" class="fa fa-phone pop dn"></i>
              <input type="hidden" name="tel" value="02-22223333">
              <i name="showmail" data-txt="旅客電子信箱：dd@gmail.com" class="fa fa-envelope pop dn"></i>
              <input type="hidden" name="mail" value="dd@gmail.com">
            </div>
            <div class="line"></div>
            <div class="words">
              <small>發表於:2021-08-04 17:59:26</small>
              <small>刪除於:2021-08-17 13:18:27</small>
              <p class="remove">**本文作者已自行刪除內容，再也看不到了**</p>

            </div>

          </div>

          <div class="item">

            <div class="data fc">
              <img name="img" src="/media/user3.jpg" class="dn">
              <h5 title="旅客名稱" name="user">旅客C</h5>
              <i name="showtel" data-txt="旅客連絡電話：02-22255544" class="fa fa-phone pop dn"></i>
              <input type="hidden" name="tel" value="02-22255544">
              <i name="showmail" data-txt="旅客電子信箱：cc@gmail.com" class="fa fa-envelope pop dn"></i>
              <input type="hidden" name="mail" value="cc@gmail.com">
            </div>
            <div class="line"></div>
            <div class="words">
              <small>發表於:2021-08-03 17:59:26</small>
              <small>刪除於:2021-08-17 13:18:27</small>
              <p class="remove">**本文作者已自行刪除內容，再也看不到了**</p>

            </div>

          </div>

          <div class="item">

            <div class="data fc">
              <img name="img" src="/media/user2.jpg" class="">
              <h5 title="旅客名稱" name="user">旅客B</h5>
              <i name="showtel" data-txt="旅客連絡電話：02-22244333" class="fa fa-phone pop "></i>
              <input type="hidden" name="tel" value="02-22244333">
              <i name="showmail" data-txt="旅客電子信箱：bb@gmail.com" class="fa fa-envelope pop "></i>
              <input type="hidden" name="mail" value="bb@gmail.com">
            </div>
            <div class="line"></div>
            <div class="words">
              <small>發表於:2021-08-02 17:59:26</small>
              <small>修改於:2021-08-17 13:18:27</small>
              <p name="info">消除獲得一大點點精品固定參與用於排行強烈，移動智能看看不住包含讓你，房子內地觀察過去經常每一個諾基亞世界閲讀，雙方某個碩士也要一時機票指揮。</p>

            </div>
            <label class="ctl">
              <i class="fa fa-pen-square fa-fw"></i>
              <input type="hidden" name="pwd" value="1234">
              <input placeholder="輸入序號" type="number" name="chk">
              <div class="fn">
                <input type="hidden" name="id" value="2">
                <button class="mdy" onclick="msgmdy(this)">修改</button>
                <button class="del" onclick="msgdel(this)">刪除</button>
              </div>
            </label>
          </div>

          <div class="item">

            <div class="data fc">
              <img name="img" src="/media/user1.jpg" class="">
              <h5 title="旅客名稱" name="user">旅客A</h5>
              <i name="showtel" data-txt="旅客連絡電話：02-22223333" class="fa fa-phone pop "></i>
              <input type="hidden" name="tel" value="02-22223333">
              <i name="showmail" data-txt="旅客電子信箱：aa@gmail.com" class="fa fa-envelope pop "></i>
              <input type="hidden" name="mail" value="aa@gmail.com">
            </div>
            <div class="line"></div>
            <div class="words">
              <small>發表於:2021-08-01 17:59:26</small>

              <p name="info">一流大部分政策物流西部高效一對評論攝影通過第二，釣魚本論壇雖然，豐原進步有所，幻想如同配置管理員演員方法獎勵市場價，附件刪除，電池快車審核深深能夠工藝，他不傳。</p>
              <div name="reply" class="reply">警察召開色彩能否配合尋找一陣羅東帳號化學接口試試，該公司，可惜批發能力幾個歌手還能樂隊眼睛，更好在。</div>
            </div>
            <label class="ctl">
              <i class="fa fa-pen-square fa-fw"></i>
              <input type="hidden" name="pwd" value="1234">
              <input placeholder="輸入序號" type="number" name="chk">
              <div class="fn">
                <input type="hidden" name="id" value="1">
                <button class="mdy" onclick="msgmdy(this)">修改</button>
                <button class="del" onclick="msgdel(this)">刪除</button>
              </div>
            </label>
          </div>
        </div>
      </div>
    </main>
    <div class="slide fc msg">
      <form method="post" enctype="multipart/form-data" class="msgadd">
        <input type="hidden" name="id" value="0">
        <label>遊客姓名<input required="" type="text" name="user"></label>
        <label>留言序號<input required="" type="number" name="pwd"></label>
        <label>聯絡電話
          <input required="" type="tel" name="tel" pattern="^\d[\d\-]+" data-txt="連絡電話只能包含數字及「-」">
        </label>
        <label>Email
          <input required="" type="email" name="mail" pattern="^\w+@\w+\.\w+(\.\w+)*" data-txt="需包含「@」及至少 1 個「.」">
        </label>
        <label>上傳圖片<input type="file" name="img">
          <smail>click here to upload</smail>
        </label>
        <label>留言內容<textarea required="" type="text" name="info"></textarea></label>
        <div class="fc" style="justify-content: space-around;width: 100%;">
          <label class="noline">
            <input type="hidden" name="showtel" value="0">
            顯示電話<input type="checkbox" name="showtel" value="1">
          </label>
          <label class="noline">
            <input type="hidden" name="showmail" value="0">
            顯示信箱<input type="checkbox" name="showmail" value="1">
          </label>
        </div>
        <input type="submit" value="送出">
        <button type="button" class="close" onclick="msgSlide(0)">X</button>
      </form>
    </div>
    <button class="add" onclick="msgadd()">新增留言</button>
  </section>
  <section id="team" class="fc">
    <img src="/media/random=3.jpg">
    <main class="container fc">
      <h1 class="fc">最新消息與遊客配對公告區塊</h1>
      <div class="scrollbox">
        <div class="col">
          <div class="item">

            <div class="data fc">
              <img src="/media/user3.jpg">

              <h5 title="旅客名稱">旅客C</h5>
              <i class="fa fa-phone pop" data-txt="旅客連絡電話：02-22255544"></i>
              <i class="fa fa-envelope pop" data-txt="旅客電子信箱：02-22255544"></i>
            </div>

            <div class="data fc">
              <img src="/media/user10.jpg">
              <h5 title="旅客名稱">旅客J</h5>
              <i class="fa fa-phone pop" data-txt="旅客連絡電話：0914556676"></i>
              <i class="fa fa-envelope pop" data-txt="旅客電子信箱：0914556676"></i>
            </div>

          </div>
        </div>

        <div class="col">
          <div class="item">

            <div class="data fc">
              <img src="/media/user4.jpg">

              <h5 title="旅客名稱">旅客D</h5>
              <i class="fa fa-phone pop" data-txt="旅客連絡電話：02-22223333"></i>
              <i class="fa fa-envelope pop" data-txt="旅客電子信箱：02-22223333"></i>
            </div>

            <div class="data fc">
              <img src="/media/user9.jpg">
              <h5 title="旅客名稱">旅客I</h5>
              <i class="fa fa-phone pop" data-txt="旅客連絡電話：123456789"></i>
              <i class="fa fa-envelope pop" data-txt="旅客電子信箱：123456789"></i>
            </div>

          </div>
        </div>

        <div class="col">
          <div class="item">

            <div class="data fc">
              <img src="/media/user8.jpg">

              <h5 title="旅客名稱">旅客H</h5>
              <i class="fa fa-phone pop" data-txt="旅客連絡電話：232323232323"></i>
              <i class="fa fa-envelope pop" data-txt="旅客電子信箱：232323232323"></i>
            </div>

            <div class="data fc">
              <img src="/media/user11.jpg">
              <h5 title="旅客名稱">旅客K</h5>
              <i class="fa fa-phone pop" data-txt="旅客連絡電話：0988-555-555"></i>
              <i class="fa fa-envelope pop" data-txt="旅客電子信箱：0988-555-555"></i>
            </div>

          </div>
        </div>

        <div class="col">
          <div class="item">

            <div class="data fc">
              <img src="/media/user2.jpg">

              <h5 title="旅客名稱">旅客B</h5>
              <i class="fa fa-phone pop" data-txt="旅客連絡電話：02-22244333"></i>
              <i class="fa fa-envelope pop" data-txt="旅客電子信箱：02-22244333"></i>
            </div>

            <div class="data fc">
              <img src="/media/user7.jpg">
              <h5 title="旅客名稱">旅客G</h5>
              <i class="fa fa-phone pop" data-txt="旅客連絡電話：123456789"></i>
              <i class="fa fa-envelope pop" data-txt="旅客電子信箱：123456789"></i>
            </div>

          </div>
        </div>

        <div class="col">
          <div class="item">

            <div class="data fc">
              <img src="/media/user5.jpg">

              <h5 title="旅客名稱">旅客E</h5>
              <i class="fa fa-phone pop" data-txt="旅客連絡電話：02-22244333"></i>
              <i class="fa fa-envelope pop" data-txt="旅客電子信箱：02-22244333"></i>
            </div>

            <div class="data fc">
              <img src="/media/user6.jpg">
              <h5 title="旅客名稱">旅客F</h5>
              <i class="fa fa-phone pop" data-txt="旅客連絡電話：02-22255544"></i>
              <i class="fa fa-envelope pop" data-txt="旅客電子信箱：02-22255544"></i>
            </div>

          </div>
        </div>

        <div class="col">
          <div class="item">

            <div class="data fc">
              <img src="/media/user1.jpg">
              <h5 title="旅客名稱">旅客A</h5>
              <i class="fa fa-phone pop" data-txt="旅客連絡電話：02-22223333"></i>
              <i class="fa fa-envelope pop" data-txt="旅客電子信箱：02-22223333"></i>
            </div>

          </div>
        </div>
      </div>
    </main>
    <div class="slide fc team">
      <form enctype="multipart/form-data" class="teamadd">
        <label>遊客姓名<input required="" type="text" name="user"></label>
        <label>聯絡電話
          <input required="" type="tel" name="tel" pattern="^\d[\d\-]+" data-txt="連絡電話只能包含數字及「-」">
        </label>
        <label>Email
          <input required="" type="email" name="mail" pattern="^\w+@\w+\.\w+(\.\w+)*" data-txt="需包含「@」及至少 1 個「.」">
        </label>
        <label>上傳頭像<input required="" type="file" name="img">
          <smail>click here to upload</smail>
        </label>
        <input type="submit" value="送出">
        <button type="button" class="close" onclick="teamSlide(0)">X</button>
      </form>
    </div>
    <button class="add" onclick="teamadd()">參加配對</button>
  </section>
  <section id="login" class="fc">
    <img src="/media/random=4.jpg">
    <main class="container fc">
      <h1 class="fc">網站管理</h1>
      <form enctype="multipart/form-data" action="admin.html">
        <label style="order:1">圖片驗證 <i class=" fas fa-undo" onclick="randnum()"></i>
          <svg viewbox="0 0 150 50">
            <style>
              .st1 {
                font-size: 1.5rem;
              }

              .st2 {
                fill: none;
                stroke: #000000;
                stroke-miterlimit: 10;
              }
            </style>
            <text transform="matrix(1 0.013498648121245516 -0.17266452528784476 1 35 35)" class="st1">3292</text>
            <line class="st2" x1="15" y1="8" x2="142" y2="34"></line>
            <line class="st2" x1="30" y1="29" x2="134" y2="18"></line>
            <line class="st2" x1="7" y1="19" x2="145" y2="49"></line>
            <line class="st2" x1="4" y1="5" x2="156" y2="9"></line>
          </svg>
          <input required="" type="text" name="admchk" pattern="3292" data-txt="驗證錯誤">
        </label>
        <label>帳號<input required="" type="text" name="user" pattern="admin" data-txt="帳號錯誤"></label>
        <label>密碼<input required="" type=" password" name="pwd" pattern="1234" data-txt="密碼錯誤"></label>
        <input style="order:2" type="submit" value="送出">
      </form>
    </main>
  </section>
  <script src="/js.js"></script>
  <script>
    randnum();
    adslider();
    setAlert();
  </script>


</body>

</html>