/************************************************ for all page */
* {
  box-sizing: border-box;
  font-family: Arial, "微軟正黑體", sans-serif;
}
body {
  margin: 0;
}
.container {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
}
header {
  background: darkgoldenrod;
  color: white;
}
nav.container {
  align-items: center;
  justify-content: space-between;
}
nav h1 {
  margin-right: auto;
}
header a {
  margin: 0 20px;
  padding: 10px;
  text-decoration: none !important;
  color: white;
}
header a:hover,
header a.active {
  background: white;
  color: darkgoldenrod;
  border-radius: 5px;
}
footer {
  background: darkgoldenrod;
  color: white;
  padding: 0.5rem 0;
  height: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
footer > div.container {
  justify-content: center;
}
main {
  background: #eee;
}
img {
  width: 100%;
}
/******************************************** for home */
#home main > div.container {
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 67.813px);
}
#home .card {
  flex: 0 1 30%;
}
#home .card img {
  border-radius: 10px;
}
/*******************************************for tourist */
#tourist main > .container {
  /* justify-content: space-around; */
  align-items: center;
  min-height: calc(100vh - 67.813px);
}
#tourist .list {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 220px;
}
#tourist .box {
  flex: 1 1 60%;
}
#tourist .list a {
  background: darkgoldenrod;
  margin: 0 30px 20px 0;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}
#tourist .list a:hover {
  color: silver;
}
/****************************************for culture */
#culture .box p {
  display: none;
}
#culture main > .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 67.813px);
  position: relative;
}
#culture .box {
  display: flex;
}
#culture .box div {
  margin: 10px;
  cursor: pointer;
}
#culture .box img {
  border-radius: 10px;
}
#culture .icon {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: space-around;
  width: 250px;
}
#culture .lightbox {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #0008;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#culture .lightbox img {
  max-width: 50vw;
  max-height: 50vh;
  width: auto;
}
#culture .lightbox p {
  width: 50vw;
  color: white;
}
/***********************************for login */
#login main > .container {
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 67.813px);
}
#login .box {
  width: 40vw;
  height: 40vh;
  background: white;
  border-radius: 10px;
  display: flex;
  box-shadow: 3px 2px 12px 0px #000;
}
#login img {
  flex-basis: 30%;
  border-radius: 10px 0 0 10px;
}
#login form {
  flex-basis: 70%;
  padding: 50px 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  width: 100px;
}
#login .col-12 {
  flex-basis: 100%;
}
#login .col-6 {
  flex-basis: 50%;
}
#login input {
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  padding: 0 20px;
}
#login input:focus {
  outline: 0;
}
#login form{
  font-weight: bold;
}
#login span {
  background: yellow;
  padding: 10px;
  display: inline-block;
}
