/*******************************************for all page */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
}

header {
  background: #333;
  color: white;
}

header nav {
  justify-content: space-between;
  align-items: center;
}

header .logo {
  margin-right: auto;
  height: 100px;
  padding: 20px;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 20px;
  padding: 10px 30px;
}

header a:hover,
header a.active {
  background: #fff;
  color: #333;
  border-radius: 5px;
}

footer {
  background: #333;
  color: white;
}

footer .container {
  justify-content: center;
  align-items: center;
  height: 2rem;
}

main {
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 100px;
  min-height: calc(100vh - 100px - 2rem);
  /* 全高 - header - footer*/
}

img:not(.logo) {
  width: 100%;
  display: block;
}

/*******************************home(index)*/
#home .card {
  width: 30%;
}


/**********************games*/
#games main>div {
  width: 49%;
}

#games .map {
  position: relative;
}

#games .map a {
  position: absolute;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

#games .map a:nth-of-type(1) {
  left: 10%;
  top: 10%;
}

#games .map a:nth-of-type(2) {
  left: 20%;
  top: 20%;
}

#games .map a:nth-of-type(3) {
  left: 30%;
  top: 30%;
}

#games .map a:nth-of-type(4) {
  left: 40%;
  top: 40%;
}

#games .map a:nth-of-type(5) {
  left: 50%;
  top: 50%;
}

#games .map a::before {
  content: "★";
  font-size: 2rem;
  line-height: 1rem;
  vertical-align: middle;
  padding-right: 5px;
}

#games .box div {
  position: relative;
}

#games .box p {
  position: absolute;
  background: #3338;
  color: white;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 20px;
}

/*****************************devices*/
#devices .icon {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#devices .icon img {
  width: 50px;
  height: 50px;
  padding: 5px;
}

#devices .card p {
  display: none;
}

#devices .card {
  width: 30%;
  margin-bottom: 20px;
  cursor: pointer;
}

#devices img {
  border-radius: 5px;
}

#devices .lightbox {
  position: fixed;
  background: #3338;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#devices .zone {
  position: relative;
  height: 100%;

  width: 70vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#devices .zone p {
  position: absolute;
  bottom: 20px;
  left: 20vw;
  right: 20vw;
  background: #fff8;
  padding: 20px;
  border-radius: 5px;
}

#devices .zone img {
  height: 100%;
  width: auto;
}

/**************************login*/
#login form {
  margin: 0 auto;
  box-shadow: 0 0 4px black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 20px;
  font-weight: bold;
  /* width: 50vw; */
  /* height: 35vh; */
  width: 800px;
  height: 400px;
}

#login label {
  width: 45%;
}

#login input {
  width: 100%;
  height: 2.5rem;
}

#login input[type=submit] {
  cursor: pointer;
}

#login form div {
  background: yellow;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
}